<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet" th:href="@{/lib/bootstrap.min.css}">
</head>
<body class="d-flex flex-column min-vh-100">

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SMS</a>
</nav>

<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Update Student </h1>
            <div class = "card-body">
                <form th:action="@{/students/{id} (id=${student.id})}" th:object = "${student}" method="POST">
                    <div class ="form-group">
                        <label> Student First Name </label>
                        <input
                                type = "text"
                                name = "firstName"
                                th:field = "*{firstName}"
                                class = "form-control"
                                placeholder="Enter Student First Name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Student Last Name </label>
                        <input
                                type = "text"
                                name = "lastName"
                                th:field = "*{lastName}"
                                class = "form-control"
                                placeholder="Enter Student Last Name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Student Email </label>
                        <input
                                type = "text"
                                name = "email"
                                th:field = "*{email}"
                                class = "form-control"
                                placeholder="Enter Student Email"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<footer class="mt-auto bg-dark">
    <div class="text-center p-3 text-white">
        SMS | 2022 Copyright <a class="text-white" href="https://github.com/gusrylmubarok">Agus S. Mubarok</a>
    </div>
</footer>

<script type="text/javascript" th:src="@{/lib/bootstrap.min.js}"></script>
</body>
</html>